<div class="col-lg-9">
	<h1>О компании</h1>
<p>
	Компания "Мир рамок" предлагает разнообразный спектр услуг: оформление холстов, репродукций, постеров, гобеленов, вышивок, фотографий, икон  и  зеркал в багет. А так же, оформление паспарту различных форм и расцветок, декорирование узорами.
</p>
<p>
У нас  собственное производство фоторамок из полистирола.
</p>
<p>
Наши специалисты изготовят фоторамки высокого качества только для Вас и для Ваших друзей.
</p>
<p> 
Главная задача, которую мы ставим перед собой – оказать Вам максимальную помощь при выборе товара.
 </p>
<p>
Основные принципы нашей работы: стремление к более тесному сотрудничеству с клиентом, позволяющее вникнуть в его проблемы и наиболее эффективно решить их.
У нас Вы так же можете приобрести готовые стандартные фоторамки ( керамические, полистироловые, деревянные, стеклянные, резиновые ( для детей). У нас большой выбор гобеленов, репродукций, которые отлично украсят Ваш уютный дом или станут хорошим подарком Вашим близким.
</p>
<p>
Наличие высококачественного оборудования и многолетний опыт  работы  сотрудников позволяют выполнять заказы наших клиентов на самом высоком уровне.
</p>
<p>

Если Вас заинтересовали наши товары или у Вас появились вопросы, Вы всегда можете обратиться к нам по адресу: 
 </p>
<p>
Адреса для  розничных покупателей: <br>
                             г. Белгород, ул. Конева д. 2а рынок Солнечный, телефон 73-01-18 <br>
                             или  проспект Б. Хмельницкого  д. 103, телефон 23-26-23
</p>
<p>
Телефон для оптовых покупателей: +7 (4722) 35-86-35
</p>
<p>
Контактное лицо: Божедаров Андрей Владимирович
</p>
<p>
E-Mail: fotoramka@bk.ru;  
   </p>
<p>           
Единый телефон розничной сети: +7(4722) 73-01-18
</p>
</div>