<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <span class="label label-info">Мир рамок</span>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Главная</a></li>
        <li><a href="/catalog">Каталог</a></li>
        <li><a href="/editor">Конфигуратор</a></li>
        <li><a href="/about">О компании</a></li>
        <li><a href="/contacts">Контакты</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/map" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
            <span class="city-title" title="Ближайший город выбран автоматически">
              Белгород
            </span>
          </a>
        </li>
        <li><a href="/login" class="btn btn-success">Войти</a></li>
        <li>
          <a href="/cart">
            <i class="glyphicon glyphicon-shopping-cart"></i>
            Заказ
          </a>
        </li>
        <!--li><a href="/signup">Регистрация</a></li-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-user"></i>
            user
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/profile">Профиль</a></li>
            <li><a href="/logout">Выход</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>