<div class="col-lg-12">
  <br>
  <p>
    Ближайший к вам город Мира Рамок определен автоматически:
    {{#withUser}}
      <i class="glyphicon glyphicon-map-marker"></i>
      <strong>{{city.title}}</strong>
      <a href="//{{city.site.subdomain}}.{{rootDomain}}">
        <i class="glyphicon glyphicon-link"></i>
        <strong>{{city.site.subdomain}}.{{rootDomain}}</strong></a>, вы можете выбрать другой город
    {{/withUser}}
  </p>
</div>