<div class="col-lg-3">
  <h4>{{title}}</h4>
  {{#each cities}}
    <a href="#" class="map-city" data-longitude="{{longitude}}" data-latitude="{{latitude}}">
      <i class="glyphicon glyphicon-map-marker"></i>
      {{title}}
    </a>
    <a href="//{{site.subdomain}}.{{rootDomain}}">
      <i class="glyphicon glyphicon-link"></i>
      {{site.subdomain}}.{{rootDomain}}
    </a>
  {{/each}}
</div>