<div class="col-lg-4"></div>
<div class="col-lg-4">
  <h4>Войдите на сайт</h4>
  <form class="form-horizontal" role="form" id="login">
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Пароль</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password" placeholder="Пароль">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-default">Войти</button>
      </div>
    </div>
  </form>
</div>