@import 'nib'

.nav .city-title
	border-bottom: 1px dashed #ccc

.navbar-nav > li > a.btn
	padding: 8px 12px 7px
	color: #FFF
	margin-top: 8px

.navbar-nav > li > a.btn:hover
	color: #FFF
	background: #28B62C