@import 'nib'

.editor-tools
	float: right
	width: 90%

ul.fills, ul.borders
	overflow-y: scroll
	margin: 0 -15px 0 5px
	padding: 0

ul.borders
	margin: 0 -20px 0 0

ul.fills li, ul.borders li
	overflow: hidden
	float: left
	margin: 10px 10px 0 0
	width: 60px
	height: 50px
	list-style: none
	cursor: pointer

ul.borders li
	width: 90px

.canvas-wrapper
	position: relative
	float: left
	margin-top: 80px

.wait-overlay
	z-index: 1
	position: absolute
	width: 580px
	height: 488px
	background: url(../images/ffffff90.png)

.wait-icon
	width: 580px
	height: 488px
	background: url(../images/wait.gif) center center no-repeat

.uploader-button
	position: absolute
	width: 100%
	height: 200px
	opacity: 0

.uploadifive-button
	width: 100% !important
	height: 100% !important
	border-radius: 0
	border: none
	background: none !important

.uploadifive-button input
	width: 100%
	height: 100%